<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="trimValues" value="true"/>
        <!--不要为true，无法解析的话让异常抛出来-->
        <!--<property name="ignoreUnresolvablePlaceholders" value="true" />-->
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <rabbit:connection-factory id="connectionFactory"
                               host="${mq.host}"
                               port="${mq.port}"
                               username="${mq.user}"
                               password="${mq.pwd}"
                               virtual-host="${mq.vhost}"/>

    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>

    <rabbit:queue id="commandQueue" name="${mq.queue.command}"/>

    <rabbit:queue id="settingsInfoQueue" name="${mq.queue.settingsInfo}"/>

    <rabbit:queue id="myQueue" name="${mq.queue.my}"/>

    <rabbit:direct-exchange name="${mq.direct.exchange}">
        <rabbit:bindings>
            <rabbit:binding queue="commandQueue" key="${mq.routingkey.command}"/>
            <rabbit:binding queue="settingsInfoQueue" key="${mq.routingkey.settingsInfo}"/>
            <rabbit:binding queue="myQueue" key="${mq.routingkey.my}"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <bean id="messageListenerAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter" >
        <constructor-arg ref="rabbitConsumer" />
        <property name="defaultListenerMethod" value="consume"/>
    </bean>

    <bean id="myMessageListenerAdapter" class="org.springframework.amqp.rabbit.listener.adapter.MessageListenerAdapter" >
        <constructor-arg ref="rabbitConsumer" />
        <property name="defaultListenerMethod" value="myConsume"/>
    </bean>

    <rabbit:listener-container connection-factory="connectionFactory" concurrency="20">
        <rabbit:listener queues="settingsInfoQueue" ref="messageListenerAdapter" />
        <rabbit:listener queues="myQueue" ref="myMessageListenerAdapter" />
    </rabbit:listener-container>

    <bean id="rabbitConsumer" class="org.liu.rabbitmq.consumer.RabbitConsumer"/>

</beans>