<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="trimValues" value="true"/>
        <!--不要为true，无法解析的话让异常抛出来-->
        <!--<property name="ignoreUnresolvablePlaceholders" value="true" />-->
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <bean id="redisStandaloneConfiguration" class="org.springframework.data.redis.connection.RedisStandaloneConfiguration">
        <property name="hostName" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
        <property name="password">
            <bean class="org.springframework.data.redis.connection.RedisPassword" factory-method="of">
                <constructor-arg value="${redis.password}" type="java.lang.String"/>
            </bean>
        </property>
        <property name="database" value="${redis.database}"/>
    </bean>

    <bean id="defaultLettucePoolingClientConfiguration" class="org.springframework.data.redis.connection.lettuce.DefaultLettucePoolingClientConfiguration">
        <constructor-arg name="clientConfiguration">
            <bean class="org.springframework.data.redis.connection.lettuce.DefaultLettuceClientConfiguration">
                <constructor-arg name="useSsl" value="false"/>
                <constructor-arg name="verifyPeer" value="true"/>
                <constructor-arg name="startTls" value="false"/>
                <constructor-arg name="clientResources">
                    <bean class="io.lettuce.core.resource.DefaultClientResources" factory-method="create"/>
                </constructor-arg>
                <constructor-arg name="clientOptions">
                    <bean class="io.lettuce.core.ClientOptions" factory-method="create"/>
                </constructor-arg>
                <constructor-arg name="timeout">
                    <bean class="java.time.Duration" factory-method="ofSeconds">
                        <constructor-arg value="${redis.timeout}"/>
                    </bean>
                </constructor-arg>
                <constructor-arg name="shutdownTimeout">
                    <bean class="java.time.Duration" factory-method="ofMillis">
                        <constructor-arg value="${redis.shutdownTimeout}"/>
                    </bean>
                </constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg name="poolConfig">
            <bean class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
                <property name="maxTotal" value="${redis.lettuce.pool.maxActive}"/>
                <property name="maxIdle" value="${redis.lettuce.pool.maxIdle}"/>
                <property name="minIdle" value="${redis.lettuce.pool.minIdle}"/>
                <property name="maxWaitMillis" value="${redis.lettuce.pool.maxAwait}"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="lettuceConnectionFactory" class="org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory">
        <constructor-arg name="standaloneConfig" ref="redisStandaloneConfiguration"/>
        <constructor-arg name="clientConfig" ref="defaultLettucePoolingClientConfiguration"/>
    </bean>

    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="lettuceConnectionFactory"/>
    </bean>

    <bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="lettuceConnectionFactory"/>
    </bean>

    <bean id="jacksonRedisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="lettuceConnectionFactory"/>
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="hashKeySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.GenericJackson2JsonRedisSerializer"/>
        </property>
    </bean>

</beans>